﻿/* Primary Layout */

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

#main {
    padding: 0 10px 0 10px;
    background-image: url(../../Content/MainGradient.png);
    background-repeat: repeat-x;
}

#header {
    border-top: 1px solid cornsilk;
    height: 120px;
    background-image: url(../../Content/HeaderGradient.png);
    background-repeat: repeat-x;
    margin-bottom: 0px;
    padding: 0;
}

#flourish {
    background-color: #CDE3F1;
    margin: 0;
    padding: 3px;
}

/* Tab Menu */

ul#menu {
    padding: 0 10px 0 0;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li a {
    padding: 10px 20px;
    text-decoration: none;
    color: White;
}

ul#menu li a:hover {
    text-decoration: underline;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #EBEFF9;
}

/* Tables */

table {
    border: solid 1px #dcdcdc;
    border-collapse: collapse;
}

table td {
    padding: 5px;
}

/* Log view */

table#LogEntries {
    margin-top: 5px;
    width: 100%;
    background-color: White;
}

table#LogEntries th {
    padding: 0;
    margin: 0;
}

table#LogEntries tr.logGroupHeader {
    font-weight: bold;
}

table#LogEntries .LogExcerpt {
    height: 1.2em;
    overflow: hidden;
    cursor: pointer;
}

table#LogEntries textarea {
    width: 100%;
    padding: 0;
}

table#LogEntries td {
    border-bottom: 1px solid #787878;
}

table#LogEntries .LogDetail td {
    border-top: 0;
}
