﻿a:link {
    color: #034af3;
    text-decoration: underline;
}
a:visited {
    color: #505abc;
}
a:hover {
    color: #1d60ff;
    text-decoration: none;
}
a:active {
    color: #12eb87;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p {
    margin: 2px 12px 10px 10px;
}

legend {
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}
